doctype html
head
  meta(charset='UTF-8')
  //- link(rel='stylesheet' href='style.css')
  link(href='/bootstrap.css', rel='stylesheet')
  title PC Video Game Information
  h1 Click the name of a PC game to get information
  br  
  each val in pages
      a.btn.btn-primary.btn-lg.active(href=val role='button' aria-pressed='true') 
        =val
      


  


script(src='client.js')