doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='style.css')
  title PC Video Game Information
section
  h1 Type the name of a PC game to get information
  input#input(type='text' value='')
  p=data.result.title
  p=data.result.publisher
  p=data.result.alsoAvailableOn
script(src='client.js')