doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='style.css')
  title PC Video Game Information
section
  h1 Type the name of a PC game to get information
  input#input(type='text' value='')
script(src='script.js')